##############################
## Java
##############################
*.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## NetBeans
##############################
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Project
##############################
logs/
target/
build/

##############################
## Windows
##############################
Thumbs.db